#ignore all object files
*.o

#ignore all dynamic libs
*.so
*.dll

#ignore all precompiled headers
*.gch

#ignore all vi swap files
*.swp

#ignore all vi backup files
*~

#
smscsim
smscsim.exe

#ignore test binaries
#test*
